
body {
  background-color: white;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  opacity: .9;
  transition: all 600ms ease-in;
  font-weight: bold;
}

.content {
  padding-top: 70px;
  padding-left:10vw;
  width: 70vw;
  min-width: 400px;
  max-width: 900px;
}

h1, h2 {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}