.social__link {
    font-weight: 700;
    letter-spacing: .5px;
}

.content__pbd {
    position: absolute;
    height: 3vw;
    width: 3vh;
    min-width: 10px;
    min-height: 10px;
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    filter: drop-shadow(1px 1px rgba(0, 156, 223, 1));
    & img {
        width: 32%;
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: inline-block;
        animation: item-glint 2.5s ease-in-out infinite;
    }
}

@keyframes item-glint {
  0%, 70% {
    filter: brightness(1); 
  }

  73% {
    filter: brightness(1.6);    
  }

  76% {
    filter: brightness(0.8);    
  }

  79% {
    filter: brightness(1.3);    
  }

  100% {
    filter: brightness(1);    
  }
}

.content__sagan {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    border: 1px solid rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);

    & iframe {
        height: 100%;
        max-height: 50vh;
    }
}

.content__close {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 1em;
    right: 1em;
    background-image: url(/images/close.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
    cursor: pointer;
    background-color: var(--black);
}