.nav {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav__link {
    margin: 0 1rem;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 4px;
}

.nav__home {
    text-indent: -10000px;
    background-image: url(/images/logo.svg);
    height: 30px;
    width: 30px;
    z-index: 1;
    background-size: contain;
    filter: invert(1);
}
